@charset "utf-8";
/* CSS Document */

.creatalbum{	
    width:350px;/***************************400px**********/
	margin: 20px auto 30px;	
}

.creatalbumTab label{
   display:inline-block;
   float:left;	
   font-size: 8px;
}

.creatalbum .top{
	height:50px;
	line-height:50px;
	border:1px #d4d4d4 solid;
	border-top-left-radius:10px;
    border-top-right-radius:10px;
	width:348px;
	background:#fafafa;
	position:relative;	
}

.creatalbum .top .closepop{
	position:absolute;
	top:15px;
	right:10px;
	width:16px;
	height:16px;
	background:url(../../../images/close_hui.png) no-repeat center center;
	cursor:pointer;
}

.creatalbum .top .closepop:hover{
   background:url(../../../images/close_blue.png) no-repeat center center;
}

.creatalbum .top .title{
	display:inline-block;
	width:100px;
	font-size:9px;
	color:#333;
	font-weight: bold;
	margin:auto 10px;
	margin-right:212px;
	
}

.creatalbum .middle{
	min-height: 140px;
    width:328px ;
    padding:10px 10px;
    border-left:1px solid #d4d4d4;
    border-right:1px solid #d4d4d4;
    font-family: Arial,"Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.0em;
	background:#fafafa;
	
}
.creatalbum .middle .item{
	margin:10px auto;
}
.creatalbum .middle .left{
	display:inline-block;
	font-weight: bold;
    line-height: 25px;
    font-size: 8pt;
    margin: 0px;
	color:#666;
	width:70px;
	float:left;
	text-align:right;
}

.creatalbum .middle .right{
	display:inline-block;
}

.creatalbum input,.creatalbum textarea,.creatalbum select{
    border: 1px solid #e5e5e5;
    background-color: #fbfbfb;
    text-align: left;
    width: 200px;
    height: 25px;
    line-height: 25px;
    -o-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -ms-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -o-transition: border linear .2s,box-shadow linear .2s;
    -ms-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
    padding: 0;
    border-radius: 3px;
	margin:auto 5px auto 15px;
}

.creatalbum select{
	width:100px;
	display:inline-block;
}

.creatalbum textarea{
	height:75px;
	float:left;
}

.creatalbum input{
	float:left;
}

.creatalbum input[type="text"]:hover,.creatalbum input[type="password"]:hover{
    border-color: #71d4ff;
}

.creatalbum .bottom{
	height: 38px;
    width:328px ;
    padding:10px 10px;
    border-left:1px solid #d4d4d4;
    border-right:1px solid #d4d4d4;
	border-bottom:1px solid #d4d4d4;
	background:#fafafa;
	border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

.bottom .wanchengPop,.bottom .quxiao{
    margin-left: 10px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border:1px solid #ccc;
    border-bottom-color: #b3b3b3;
    -o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -ms-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    padding: 3px 0;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    width: 65px;
	float:right;
}


.bottom div:hover{
    /*IE6下仅支持a Hover*/
    background-color: #bcf4f7;
    background-color:#d9d9d9;
	cursor:pointer;
}

