@charset "utf-8";
/* CSS Document */

.creatalbumTab{	
    width:100%;/***************************400px**********/
    background:#FAFAFA;
	padding-right:20px;
}
.creatalbumTab label{
   display:inline-block;
   float:left;	
   font-size: 8px;
}

.Limit{
   	
}

.creatalbumTab .top{
height: 50px;
line-height: 50px;
border-bottom: 1px #D4D4D4 solid;
/* border-top-left-radius: 10px; */
/* border-top-right-radius: 10px; */
width: 750px;

position: relative;
padding: auto 10px;
margin: auto 10px;
}

.creatalbumTab .top .title{
	display:inline-block;
	width:100px;
	font-size:9px;
	color:#333;
	font-weight: bold;
	margin:auto 10px;
	margin-right:212px;
	
}

.creatalbumTab .middle{
	min-height: 140px;
	width: 328px;
	padding: 10px 180px;
	padding-left: 220px;
	/* border-left: 1px solid #D4D4D4; */
	/* border-right: 1px solid #D4D4D4; */
	font-family: Arial,"Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.0em;
	background: #FAFAFA;
	
}
.creatalbumTab .middle .item{
	margin:10px auto;
}
.creatalbumTab .middle .left{
	display:inline-block;
	font-weight: bold;
    line-height: 25px;
    font-size: 8pt;
    margin: 0px;
	color:#666;
	width:70px;
	float:left;
	text-align:right;
}

.creatalbumTab .middle .right{
	display:inline-block;
}

.creatalbumTab input,.creatalbumTab textarea,.creatalbumTab select{
    border: 1px solid #e5e5e5;
    background-color: #fbfbfb;
    text-align: left;
    width: 200px;
    height: 25px;
    line-height: 25px;
    -o-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -ms-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -o-transition: border linear .2s,box-shadow linear .2s;
    -ms-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
    padding: 0;
    border-radius: 3px;
	margin:auto 5px auto 15px;
}

.creatalbumTab select{
	width:100px;
	display:inline-block;
}

.creatalbumTab textarea{
	height:75px;
	float: left;
}

.creatalbumTab input{
	float: left;
}

.creatalbumTab input[type="text"]:hover,.creatalbumTab input[type="password"]:hover{
    border-color: #71d4ff;
}

.creatalbumTab .bottom{
	height: 38px;
	width: 328px;
	padding: 10px auto;
	padding-left: 430px;
	/* border-left: 1px solid #D4D4D4; */
	/* border-right: 1px solid #D4D4D4; */
	/* border-bottom: 1px solid #D4D4D4; */
	background: #FAFAFA;
}

.bottom .wancheng,.bottom .quxiao{
    margin-left: 10px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border:1px solid #ccc;
    border-bottom-color: #b3b3b3;
    -o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -ms-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    padding: 3px 0;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    width: 65px;
	float:right;
}


.bottom div:hover{
    /*IE6下仅支持a Hover*/
    background-color: #bcf4f7;
    background-color:#d9d9d9;
	cursor:pointer;
}

